<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <header>
    <div>
      <h1><img src="https://lh3.googleusercontent.com/VSTqiMFgnmcY4IW7A0o7e9epTiKVAL7DppvbG-W3JmtYznSlQhRmAE6WeoVF2ErAgpew9iZSDWhp6DfNyaUNJig3MKeaaDIMXYdW4DklOkz2IwB6ON7isK4t8emSBpzoeIMfLIhqIw=w2400" alt="vetted reads."></h1>
      <nav>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">MY BOOKS</a></li>
          <li><a href="#">LOG IN</a></li>
          <li><a href="#">BROWSE</a></li>
        </ul>
      </nav>
    </div>
  </header>
        <link rel="stylesheet" href="styles.css" />
      </head>
    <body>
      <div>
        <form role="search" id="form">
  <input type="search" id="query" name="q"
   placeholder="Search over 5million books and reviews"
   aria-label="Search through site content">
  <button>
    <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
  </button>
</form>
      </div>
      <div>
        <h3>
          Reading books changes lives, but reading vetted good books changes your life in the right direction.
        </h3>
        <h3>
          Here at vetted reads 4kids we ensure that parents and guardians understand the core drive of every book before kids read them, thereby ensuring safe read for kids and a stress free review for parents and guardians.
        </h3>
      </div>
      <div>
        <h3>
          STAR BOOKS
        </h3>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/Op884GmEQOAg3TbrNLCBfrMW-Pj8uHY1lpkLUA1GQhoizQhnAL4qpDPSc7eAQrjzEkcM3kBDXn58P09YtkRS-DrUliKKaPJyKdP4z_-_teCYKCFKrESaUD7ujPim_z9J-i9tzCJ6aw=s225-p-k" alt="book1">
            <figcaption>Diary of a wimpy kid </figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book2">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book3">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book4">
            <figcaption></figcaption>
          </figure>
        </div>      
      </div>
      <div>
        <h3>
          TOP PICKS
        </h3>
        <div>
          <figure>
          <img src="" alt="book5">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book6">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book7">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book8">
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
     <div>
        <h3>
          BOOK OF THE MONTH
        </h3>
        <div>
          <figure>
          <img src="" alt="book9">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book10">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book11">
            <figcaption></figcaption>
          </figure>
        </div>
        <div>
          <figure>
          <img src="" alt="book12">
            <figcaption></figcaption>
          </figure>
        </div>      
      </div> 
      
    </body>
</html>