<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <header>
    <div>
      <h1><img src="https://lh3.googleusercontent.com/VSTqiMFgnmcY4IW7A0o7e9epTiKVAL7DppvbG-W3JmtYznSlQhRmAE6WeoVF2ErAgpew9iZSDWhp6DfNyaUNJig3MKeaaDIMXYdW4DklOkz2IwB6ON7isK4t8emSBpzoeIMfLIhqIw=w2400" alt="vetted reads."></h1>
      <nav>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">MY BOOKS</a></li>
          <li><a href="#">LOG IN</a></li>
          <li><a href="#">BROWSE</a></li>
        </ul>
      </nav>
    </div>
  </header>
        <link rel="stylesheet" href="styles.css" />
      </head>
    <body>
      <div>
        <form role="search" id="form">
  <input type="search" id="query" name="q"
   placeholder="Search over 5million books and reviews"
   aria-label="Search through site content">
  <button>
    <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
  </button>
</form>
      </div>
      <div>
        <h3>
          Reading books changes lives, but reading vetted good books changes your life in the right direction.
        </h3>
        <h3>
          Here at vetted reads 4kids we ensure that parents and guardians understand the core drive of every book before kids read them, thereby ensuring safe read for kids and a stress free review for parents and guardians.
        </h3>
      </div>
      <div>
        <h3>
          STAR BOOKS
        </h3>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/Op884GmEQOAg3TbrNLCBfrMW-Pj8uHY1lpkLUA1GQhoizQhnAL4qpDPSc7eAQrjzEkcM3kBDXn58P09YtkRS-DrUliKKaPJyKdP4z_-_teCYKCFKrESaUD7ujPim_z9J-i9tzCJ6aw=s225-p-k" alt="book1">
            <figcaption>Diary of a wimpy kid </figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/nSvnwIjYHpVkfaNjf_Fh5dkWY2kke0_8j7PrujLI4-FMKe5htTwxHl8y1akwHHcZwt3EwPnRk5svcF-qOeVElKOgduS3sWE57v_ZbK3ryipeEOzOpjuwwlbBNebo78jkIksD910Wsw=w2400" alt="book2">
            <figcaption>Charlotte's Web</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/pw/AJFCJaXacJ5J9iRVTICTDXJZUljrUrZP6tf5DSo5vlAH8ThkIkv7qH3VHeacENbOAZWrf6J6k_nipG5WuCevGRN79los-ta5NOmh8AGkvih_E9I3UAcT1W8=w2400" alt="book3">
            <figcaption>Anne of West Philly</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/3aggbeCHdnVi0DYQ4i4lMBeTgnUrCkLR3DyKCj8OsEwi9jN6kR75zIlJVt9tdv1fIB2DaEIfulVU27I789RU8E-OBm73eE1bnVEyDK8mJa2GBmEXjHkx5nbXEwcZXMV-TnD7dGggzw=w2400" alt="book4">
            <figcaption>Apple Crush</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>      
      </div>
      <div>
        <h3>
          TOP PICKS
        </h3>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/-SBnd3UQmM7uNkWNOJ_NE4-zFhGLXmmFqv37JwwBzFoKyQkP6-cbui_INIqQ8Xo36F7VKU0jsXuwxdnpGmnkUDjZ1lhinrb06-2VsCHZ2bREmsf7jlTbqh0dF789RbfMV6hgAREuDQ=w2400" alt="book5">
            <figcaption>Eyes that speaks to the stars</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/SgGgQC_oYuxoa0kUPE2qZxO-tl_u9NHJwCWBHV20BTeqgpCH8LzPJADNI7PJKuvsNmswn4fqhE2REfjTdkBc7MbBZK0EFAGoYbCt7t0lF2F9rcD0kqzNPEprmFwOc6ifi8eqh292AA=w2400" alt="book6">
            <figcaption>Busy Betty</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/3eoTsUjbtq2fITQvNVfQVF7Qmk_cGGN01hOioAapcqKQsziWEupD9JuUQwSLBWOlgQK9C1DlFRrwfRftP95-Gn8hUMYagLvr35ZSER1CgXdkqwc80-XlqFP8hODYz3QFecz1nKP1ww=w2400" alt="book7">
            <figcaption>Jacky Ha-Ha</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/opSPK4cEv4fPHLCQ2C1TbAlefsi-9QKuTbbFg3ofgIeBUwq6IkDvgNlEqMFwPx-Dcvma-wSU1Jw0zDQNemSjZdjEhQHvtnrjVf8gXv7i4GBip0yQqApuN-T68KQkqyG1-O2V45_gHQ=w2400" alt="book8">
            <figcaption>Pretty Perfect Kitty Corn</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
      </div>
     <div>
        <h3>
          BOOK OF THE MONTH
        </h3>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/-SBnd3UQmM7uNkWNOJ_NE4-zFhGLXmmFqv37JwwBzFoKyQkP6-cbui_INIqQ8Xo36F7VKU0jsXuwxdnpGmnkUDjZ1lhinrb06-2VsCHZ2bREmsf7jlTbqh0dF789RbfMV6hgAREuDQ=w2400" alt="book9">
            <figcaption>Eyes that speaks to the stars</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/nSvnwIjYHpVkfaNjf_Fh5dkWY2kke0_8j7PrujLI4-FMKe5htTwxHl8y1akwHHcZwt3EwPnRk5svcF-qOeVElKOgduS3sWE57v_ZbK3ryipeEOzOpjuwwlbBNebo78jkIksD910Wsw=w2400" alt="book10">
            <figcaption>Charlotte's Web</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/opSPK4cEv4fPHLCQ2C1TbAlefsi-9QKuTbbFg3ofgIeBUwq6IkDvgNlEqMFwPx-Dcvma-wSU1Jw0zDQNemSjZdjEhQHvtnrjVf8gXv7i4GBip0yQqApuN-T68KQkqyG1-O2V45_gHQ=w2400" alt="book11">
            <figcaption>Pretty Perfect Kitty Corn</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>
        <div>
          <figure>
          <img src="https://lh3.googleusercontent.com/3aggbeCHdnVi0DYQ4i4lMBeTgnUrCkLR3DyKCj8OsEwi9jN6kR75zIlJVt9tdv1fIB2DaEIfulVU27I789RU8E-OBm73eE1bnVEyDK8mJa2GBmEXjHkx5nbXEwcZXMV-TnD7dGggzw=w2400" alt="book12">
            <figcaption>Apple Crush</figcaption>
            <button type="button">VIEW REVIEW</button>
          </figure>
        </div>      
      </div>
      <footer>
				<div>
					<div>
						<div>
							<img
								src="https://lh3.googleusercontent.com/VSTqiMFgnmcY4IW7A0o7e9epTiKVAL7DppvbG-W3JmtYznSlQhRmAE6WeoVF2ErAgpew9iZSDWhp6DfNyaUNJig3MKeaaDIMXYdW4DklOkz2IwB6ON7isK4t8emSBpzoeIMfLIhqIw=w2400"
								alt=""
							/>
						</div>
            <div>
              <h4>About us</h4>
							<p>No 9B Lorem ipsum dolor sit amet. Lorem, ipsum.</p>
							<p>Lorem ipsum dolor sit amet.</p>
							<p>info@vettedreads.com</p>
							<p>+23462682820</p>
							<p>+23462682820</p>
						</div>
					</div>
          <div>
						<h4>Support</h4>
						FAQs Contact Feedback
						<h4>Resources</h4>
            <a href="hjkkii"><p>Get your book reviewed</p></a>
            <a href="hjkkii"><p>features</p></a>
					</div>
					<div>
						<h4>Subscribe to Our Newsletter</h4>
						<p>
							Join our subscribers list to get the latest news, updpate, and
							special offerss delivered directly to your inbox.
						</p>
            <div>
							<input type="email" placeholder="Email address" />
						</div>
						<input type="submit" value="Submit" />
					</div>
				</div>
				<div>
					<div>
						<div>
							&copy; 2023 Vettedreads4kids.com All right reserved
						</div>
						<div></div>
					</div>
				</div>
			</footer>
		</div>
    </body>
</html>
